
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */

/* <1-fold SSSSS ALL DOC CLASSES SSSSS */

/* </1-fold> EEEEE ALL DOC CLASSES EEEEE */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
#root {

}

/* <1-fold SSSSS .app-container SSSSS */

/* </1-fold> EEEEE .app-container EEEEE */
